#logo{width: 1200px;margin: 0 auto}
.logo{height: 120px;padding: 20px;padding-left: 60px;}
.logoImg{height: 80px;max-width: 140px;}
#login{height: 750px;margin: 0 auto;position: relative;margin-top: 40px;text-align: center;}
.login{background: #FFF;height: 555px;width: 610px;border-radius: 7px;margin: 0 auto;text-align: left}
.loginText{line-height: 70px;height: 70px;text-align: center;color: #FE524B;font-weight: bold;font-size: 16px;}
.loginDiv{padding: 110px;padding-top: 60px}
.bottom20{margin-bottom: 30px}
.floLeft{float: left}
.phone{padding-left: 15px;width: 300px;height: 30px;border: none}
.borBottom{border-bottom: 1px solid #DDD;padding-top: 8px}
.passWord{width: 300px;height: 30px;border: none;padding-left: 15px}
.bottom10{margin-bottom: 10px}
.yanZM{width: 150px;height: 30px;border: none;padding-left: 15px}
.floRight{float: right;}
.bor_btom{border-bottom: 1px solid #DDD;padding-top: 8px;width: 170px}
.rendMImg{vertical-align: text-top;}
.pading25{padding-top: 25px}
.btnDengL{width: 390px;height: 50px;border-radius: 7px;margin: 0 auto;background: #FF524B;font-size: 18px;font-weight: bold;}
.margin10{margin-top: 10px}
.zuCe{color: #FE7571}
.wanJi{color: #FE7571;float: right}
.hint{text-align: center;color: #FF0000}
.loginDivEr{position: absolute;top: 105px;width: 100%;}