############################
## 总站url重写规则
## 请按照相应模块进行区块书写相应规则
## 海林<hailingr@foxmail.com>
############################
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


#+------------------------------------------------------------------------------------------------------------------------
# 定向到首页index.php
#######################
RewriteRule ^(.*)$ index.php?_PATHINFO_=$1 [QSA,PT,L]

#+------------------------------------------------------------------------------------------------------------------------
# 其他处理规则
#######################