<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工资详情</title>
    <link href="/js/hplus/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">

    <link href="/js/hplus/css/style.min.css?v=4.1.0" rel="stylesheet">

    <style>
        th{width: 45%;}
        td{width: 55%;}
    </style>
</head>
<body>
<div class="col-xs-12">
    <div class="ibox-content" style="border-width:0">
        <table class="table table-hover table-bordered">
            <?php $wageinfo = isset($wageinfo) ? $wageinfo : '' ;?>
            <?php if( $wageinfo ) {?>
            <tr>
                <th>月份</th>
                <td><?php echo $wageinfo['time'] ;?></td>
            </tr>
            <tr>
                <th>修理厂使用频率提成合计</th>
                <td><?php echo $wageinfo['repair_use_money'] ;?> 元</td>
            </tr>

            <tr style="background-color: #f2f2f2">
                <th style="padding-left: 2em;">1级修理厂</th>
                <td><?php echo $wageinfo['repair_lv1_used'].'*'.$wageinfo['repair_lv1_prop'].' = ' .$wageinfo['repair_lv1_used'] * $wageinfo['repair_lv1_prop'];?> 元</td>
            </tr>

            <tr style="background-color: #f2f2f2">
                <th style="padding-left: 2em;">2级修理厂</th>
                <td><?php echo $wageinfo['repair_lv2_used'].'*'.$wageinfo['repair_lv2_prop'].' = ' .$wageinfo['repair_lv2_used'] * $wageinfo['repair_lv2_prop'];?> 元</td>
            </tr>
            <tr style="background-color: #f2f2f2">
                <th style="padding-left: 2em;">3级修理厂</th>
                <td><?php echo $wageinfo['repair_lv3_used'].'*'.$wageinfo['repair_lv3_prop'].' = ' .$wageinfo['repair_lv3_used'] * $wageinfo['repair_lv3_prop'];?> 元</td>
            </tr>
            <tr>
                <th>新增关联汽修厂提成</th>
                <td><?php echo $wageinfo['new_firm_num'].'*'.$wageinfo['new_firm_prop'].' = ' .$wageinfo['new_firm_comm'] ;?> 元</td>
            </tr>
            <tr>
                <th>修理厂关联提成</th>
                <td><?php echo $wageinfo['firm_num'].'*'.$wageinfo['firm_prop'].' = ' .$wageinfo['firm_comm'] ;?> 元</td>
            </tr>
            <tr>
                <th>关联厂商充值提成</th>
                <td><?php echo $wageinfo['firm_recharge_money'].'*'.$wageinfo['firm_recharge_prop'].' = ' .$wageinfo['firm_recharge_comm'] ;?> 元</td>
            </tr>
            <tr>
                <th>基本工资</th>
                <td><?php echo $wageinfo['base_wage'] ;?> 元</td>
            </tr>
            <tr>
                <th>补贴</th>
                <td><?php echo $wageinfo['subsidies'] ;?> 元</td>
            </tr>
            <tr>
                <th>合计</th>
                <td><?php echo $wageinfo['total'] ;?> 元</td>
            </tr>

            <?php }else{?>

            <tr>
                <td colspan="2">获取数据失败</td>

            </tr>
            <?php }?>

        </table>
    </div>
</div>
</body>
<script src="/js/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="/js/hplus/js/bootstrap.min.js?v=3.3.6"></script>
</html>