<link rel="stylesheet" href="/css/pc/index/activity.css">
<div id="activityMinute">
    <div class="activityTitle"><?php echo $new['title'];?></div>
    <div class="activityTime"><?php echo $new['create_time'];?></div>
    <div>
        <!--<div class="activityImgDiv">
            <img src="/images/qpxm/pc/index/cuXiaoHuoDong.png" class="activityImg" alt="">
        </div>-->
        <div class="activityInfo">
            <?php echo $new['content'];?>
        </div>
    </div>
</div>