<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推送消息详情</title>
    <link href="/js/hplus/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">

    <link href="/js/hplus/css/style.min.css?v=4.1.0" rel="stylesheet">
</head>
<body>
<div class="col-xs-12">
    <div class="ibox-content" style="border-width:0">
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-xs-1"></div>
                <div class="col-xs-10" style="padding: 10px;">
                    <?php echo $content['msg'] ;?>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>