<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业务员列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.32x32.ico">
    <link href="/js/hplus/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/js/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/js/hplus/css/style.min.css?v=4.1.0" rel="stylesheet">
    <style>
        .mail-box-header label{ height: 34px; line-height: 34px;width: 50px; margin-bottom: 0; padding-left: 0;padding-right: 0;}
        .l a{ color: #0066ff;}
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content" style="padding: 0">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="mail-box-header">

                <div class="form-group">

                    <div class="col-xs-6 col-sm-4 col-lg-4 " style="padding-left: 0; padding-right: 15px; margin-bottom: 3px;max-width: 145px;">
                        <label class="col-xs-4 col-sm-4 control-label">状态</label>
                        <div class="col-xs-8 col-sm-8" style="padding-left: 0;padding-right: 0; width: 75px;">
                            <select id="status" class="form-control">
                                <option value=''>不限</option>
                                <option value='1'>正常</option>
                                <option value='2'>停用</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-lg-4 " style="padding-left: 0; padding-right: 0; margin-bottom: 3px;max-width: 160px;">
                        <label class="col-xs-4 col-sm-4 control-label">区域</label>
                        <div class="col-xs-8 col-sm-8" style="padding-left: 0;padding-right: 0;">
                            <select id="province" class="form-control" style="padding-left: 5px; width: 100px;">
                                <option value=''>全部</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4" style="padding-left: 0; padding-right: 0; margin-bottom: 3px;">
                        <label class="col-xs-4 col-sm-4 control-label">关键字</label>
                        <div class="col-xs-8 col-sm-8" style="padding-left: 0;">
                            <div class="col-xs-12 col-sm-12 input-group">
                                <input type="text" class="form-control input-xs" id="searchKey" placeholder="业务员ID/昵称/姓名"/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary" id="found"> 搜 索 </button>
                                    <!---->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content" style="padding: 0;">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h3 style="margin-right: 10px;">业务员列表</h3>
                    <div style="text-align: right; padding-right: 15px;">
                        <span><button type="submit" class="btn btn-xs btn-primary" style="margin-left: 2px;" id="btn-mod-edit">添加帐号</button></span>
                        <span><a class="btn btn-xs btn-primary" id="download" href="/plat.sales/exportToExcel">导出表格</a></span>
                    </div>
                    <!--列表开始-->
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th style="text-align: center;width:150px">业务员ID</th>
                                <th style="text-align: center;width:150px">昵称</th>
                                <th style="text-align: center;width:150px">姓名</th>
                                <th style="text-align: center;width:150px">联系电话</th>
                                <th style="text-align: center;width:150px">管辖区域</th>
                                <th style="text-align: center;width:150px">关联厂商数</th>
                                <th style="text-align: center;width:150px">最近登录</th>
                                <th style="text-align: center;width:150px">状态</th>
                                <th style="text-align: center;width:240px">操作</th>
                            </tr>
                            </thead>
                            <tbody id="listObj" style="text-align: center"></tbody>
                        </table>
                    </div>
                    <script id="showList" type="text/html">
                        {{# var list = d.list; var page = d.page; var pageSize = d.pageSize; for(var i = 0, len = list.length; i < len; i++){ }}

                        <tr>
                            <td>
                                <span>{{ list[i].uId }}</span>
                            </td>
                            <td>
                                <span>{{ list[i].uname }}</span>
                            </td>
                            <td>
                                <span>{{ list[i].realname }}</span>
                            </td>
                            <td>
                                <span>{{ list[i].phone }}</span>
                            </td>
                            <td>
                                <span>{{ list[i].area }}</span>
                            </td>
                            <td>
                                <span>{{ list[i].fir_num }}</span>
                            </td>
                            <td>
                                <span>{{ list[i].last_time ? list[i].last_time : '' }}</span>
                            </td>

                            <td>
                                <span>{{ list[i].status == 1 ? '正常' : '停用' }}</span>
                            </td>
                            <td>
                                <span class="l">
                                    {{# if(list[i].status == 1){ }}
                                        <a onclick=getOneSale('{{ list[i].uname }}',{{ list[i].id }})>[详情]</a>  <a onclick="changeStatus({{ list[i].status }},{{ list[i].id }})">[停用]</a> <a onclick="resetPassword({{ list[i].id }})">[重置密码]</a>
                                    {{# }else{ }}
                                        <a onclick=getOneSale('{{ list[i].uname }}',{{ list[i].id }})>[详情]</a>  <a onclick="changeStatus({{ list[i].status }},{{ list[i].id }})">[启用]</a> <a onclick="resetPassword({{ list[i].id }})">[重置密码]</a>
                                    {{# } }}

                                </span>
                            </td>
                        </tr>

                        {{# } }}
                    </script>

                    <script id="showNo" type="text/html">
                        <tr>
                            <td colspan="9" style="text-align: center">{{ d.massage }}</td>
                        </tr>
                    </script>
                    <!--列表结束-->
                    <!--页码开始-->
                    <div class="text-right" style="margin-bottom: 20px;margin-right: 40px;">
                        <input hidden="hidden" value="1" id="page"/>
                        <span>每页显示
                        <select id="pageSize" onchange="getList(1)">
                            <option value="10"  selected="selected">10</option>
                            <option value="30" >30</option>
                            <option value="50" >50</option>
                            <option value="100">100</option>
                            <option value="300">300</option>
                            <option value="500">500</option>
                            <option value="1000">1000</option>
                            <option value="3000">3000</option>
                            <option value="5000">5000</option>
                        </select>&nbsp;
                    </span>
                        <span id="pageInfo" style="margin-right: 10px;"></span>
                        <div class="btn-group" id="pager"></div>
                    </div>
                    <!--页码结束-->
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script  type="text/javascript" src="/js/hplus/js/jquery.min.js?v=2.1.4"></script>
<script  type="text/javascript" src="/js/hplus/js/plugins/layer/layer-3.0.3.min.js"></script>

<script src="/js/laytpl/laytpl.js"></script>
<!--自定义js-->
<script src="/js/plat/province.js"></script>
<!--分页插件-->
<script src="/js/jquery.page.js"></script>
<!--自定义JS-->
<script src="/js/global.js"></script>
<script>
    $(function(){
        getList(1);
        $("#found").click(function(){
            getList(1);
        });
        //添加子管理员
        $("#btn-mod-edit").on('click',function(){
            addSale() ;
        });

        setProvince('province','');
    });
    /**
     * 获取数据
     */
    function getList(page){
        var status   = $("#status").val();
        var province = $("#province").val();
        var keywords = $("#searchKey").val();//关键字
        page         = page ? page : 1;
        var size     = $('#pageSize').val();
        var url = '/plat.sales/getSales';
        var index = layer.load(2);
        $.post(url,{
            status:status,
            province:province,
            keywords:keywords,
            page:page,
            pageSize:size
        },function(rdata){

            var href  = '/plat.sales/exportToExcel/' ;
            href     += '?status='+status+'&province='+province ;
            href     += '&keywords='+keywords+'&page='+page+'&pageSize='+ size ;
            $("#download").attr('href',href);

            layer.close(index);
            var pageInfo = '';
            var p     = rdata.page;
            var pageSize = rdata.pageSize;
            var count = rdata.count;
            if(count > 0){
                var startPage= (p-1)*pageSize+1;
                var endPage  = ((p*pageSize)>count) ? count : (p*pageSize);
                pageInfo = '显示 '+startPage+' 到 '+endPage+' 项，共 '+count+' 项';
            }else{
                pageInfo = '共 0 项';
            }
            $("#pageInfo").text(pageInfo);
            //分页处理
            var totalPage = count/pageSize;
            //总页码
            totalPage     = Math.ceil(totalPage);
            $("#pager").createPage({
                pageCount:totalPage,
                current:p,
                backFn:function(p){
                    getList(p);
                }
            });
            showData(rdata);
        },'json');
        $("#page").val(page);
    }

    /**
     * 展示数据
     */
    function showData(data) {
        if(data.massageCode == 'success'){
            if(data.list.length>0){
                var tpl2 = $('#showList').html();
                laytpl(tpl2).render(data, function(html){
                    $('#listObj').html(html);
                });
                return false
            }
        }else {
            var tpl1 = $('#showNo').html();
            laytpl(tpl1).render(data, function(html){
                $('#listObj').html(html);
            });
        }

    }

    function getOneSale(name, id) {
        top.addTabWin('业务员详情—'+name,'/plat.sales/getOneSale?id='+id)
    }
    /**
     * 改变状态
     * @param j
     * @param userId
     */
    function changeStatus(j,userId){
        //alert(1);
        var tip = '是否停用 ? 停用之后无法登录!' ;
        if(j == 2){
            tip = '是否启用 ?' ;
        }
        layer.confirm(tip,{shadeClose: true,title:'重要提示'},function () {

            var postData = {};
            postData.status = j == 1 ? 2 : 1 ;
            postData.userId  = userId;
            console.log(postData);
            api.load('plat.sales','changeStatus',postData,function(rData){
                if(rData.massageCode == 'success'){
                    layer.msg(rData.massage,{time:1500},function () {
                        getList(1);
                    });
                }else {
                    layer.msg(rData.massage);
                }

            });
            }
        );
    }

    /**
     * 重置密码
     * @param userId
     */
    function resetPassword(userId){
        //alert(1);
        layer.confirm('是否将密码重置为初始密码 7777777',{area: ['300px', '160px'],shadeClose: true,title:'重要提示'},function () {
            api.load('plat.sales','resetPassword',{userId:userId},function(rData){
                layer.msg(rData.massage);
            });
            }
        );
    }


    /**
     * 添加业务员
     */
    function addSale(){
        var title = "添加业务员";
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shift:2,
            maxmin: false, //开启最大化最小化按钮
            area: ['550px', '450px'],
            content: '/plat.sales/addSale'
        });
    }

</script>
</html>