<!--菜单导航栏-->
<div id="navigationLan">
    <div class="row navigationLan">
        <a href="/def/index"><div class="navigation <?php if($fun=='index'){ echo 'navigationActive'; }?>">首页</div></a>
        <a href="/def/cars"><div class="navigation <?php if($fun=='cars'){ echo 'navigationActive'; }?>">轿车商家</div></a>
        <a href="/def/vans"><div class="navigation <?php if($fun=='vans'){ echo 'navigationActive'; }?>">货车商家</div></a>
        <a href="/def/newMarket"><div class="navigation <?php if($fun=='newMarket'){ echo 'navigationActive'; }?>">新品促销</div></a>
        <a href="/def/clearance"><div class="navigation <?php if($fun=='clearance'){ echo 'navigationActive'; }?>">库存清仓</div></a>
        <a href="/def/mountings"><div class="navigation <?php if($fun=='mountings'){ echo 'navigationActive'; }?>">配件求购</div></a>
        <a href="/def/vinQuery"><div class="navigation <?php if($fun=='vinQuery'){ echo 'navigationActive'; }?>">vin查询</div></a>
        <a href="/def/circle"><div class="navigation <?php if($fun=='circle'){ echo 'navigationActive'; }?>">圈子</div></a>
    </div>
</div>