<link rel="stylesheet" href="/css/pc/person/vip.css">
<div class="titles">
    <span style="font-size: 24px;">VIP会员</span>
</div>
<div>
    <div class="vipBGImg">
        <div class="daoQiTime">
            <span>到期时间 <?php echo $userInfo['vip_time']?substr($userInfo['vip_time'],0,10):'0000-00-00';?></span>
        </div>
    </div>
</div>
<div class="vipKaiTongDiv">
    <button class="vipKaiTong" onclick="location.href='/person/vipRecharge'">开通/续费</button>
</div>

<script>


</script>