<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>空白页</title>
</head>
<body>

<div class="col-xs-12" style="padding: 15% 15px">

    <div class="col-xs-12" style="height: 200px;border-bottom:1px dashed #666666">
        <div style="margin: 0 auto;width: 370px; height: 100px;">
            <div style="float: left;width: 100px; height: 100px;margin-right: 15px;">
                <img src="/images/plat/main/u184.png" style="height: 100px;width: 100px;">
            </div>
            <div style="float: left;width: 250px; height: 100px;color: #666666;padding-top: 15px;">
                <p style="margin-bottom:5px;margin-top: 5px;font-size: 18px;">欢迎使用管理后台</p>
                <p style="margin-bottom:5px;margin-top: 5px;font-size: 18px;">请妥善保管您的账号及密码</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>