<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>首页</title>
    <link href="../../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../css/common.css" type="text/css" charset="utf-8"/>
</head>
<style>
	
	.mui-indicator{
		width: 10px!important;
		height: 10px!important;
		box-shadow: none!important;
		background: url(../../image/index/dian_next@2x.png) no-repeat!important;
		background-size: contain!important;
	}
	.mui-slider-indicator .mui-active.mui-indicator {
		background: url(../../image/index/dian_now@2x.png) no-repeat!important;
		background-size: contain!important;
		border-radius: 0;
		box-shadow: none;
		width: 26px!important;
	}
	.sw-bottom-banner{
		height: 60px;display: block;
	}
	.sw-meida-text{
				font-size: 14px!important;color: #666!important;line-height: 18px!important;
			}
			
/*下拉加载*/
.mui-bar~.mui-content .mui-fullscreen {
	top: 44px;
	height: auto;
}
.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}
.mui-bar~.mui-pull-top-tips {
	top: 24px;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border-radius: 25px;
	background-clip: padding-box;
	overflow: hidden; 
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	/*-webkit-backface-visibility: hidden;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;*/
	
	margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}	

#topList img{
	width: 100%;height: 200px;
}	
</style>
<body>    
	<header class="mui-bar mui-bar-nav">
	    <div class="mui-btn mui-btn-link mui-btn-nav mui-pull-left" id='addressCon' style="padding-left: 14px;background: url(../../image/index/sanjiao@3x.png) no-repeat center left;background-size: 12px;">
	    </div>
	    <h1 class="mui-title"><img src="../../image/index/logo.png" height="24" style="vertical-align: middle;"/>   </h1>
	    <button class="mui-btn mui-btn-link mui-pull-right" id='msgList' style="display: none">
	    	<span class="mui-badge sw-title-badge" id="naTip" style="display: none;"></span>
	    	<img src="../../image/index/icon_xiaoxi@3x.png" class="sw-title-img2"/>
	    </button>
	</header>
	<div class="mui-content">
	    
		<!--顶部banner-->
		<div id="topList">
			<img src="../../image/start/banner.png" height="200px" width="100%">  
		</div>
			
		<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<ul class="mui-table-view mui-grid-view mui-grid-9" style="background: #FFFFFF;border: none;">
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="border: none;border-radius: 0;" id="jiaoche">
						        <img src="../../image/index/icon_jiaoche.png" style="width: 60px;"/>
						        <div class="mui-media-body sw-meida-text">轿车商家</div>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="border: none;" id="track">
						        <img src="../../image/index/icon_huoche.png" style="width: 60px;"/>
						        <div class="mui-media-body sw-meida-text">货车商家</div>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="border: none;" id="wuliu">						    
						        <img src="../../image/index/icon_wuliu.png" style="width: 60px;"/>
						        <div class="mui-media-body sw-meida-text">用品商家</div>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="border: none;" onclick="goProduct(1)">
						        <img src="../../image/index/icon_cuxiao.png" style="width: 60px;"/>
						        <div class="mui-media-body sw-meida-text">新品促销</div>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="border: none;" onclick="goProduct(2)">
						        <img src="../../image/index/icon_qincang.png" style="width: 60px;"/>
						        <div class="mui-media-body sw-meida-text">库存清仓</div>
							</li>
							<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" style="border: none;" id="qiugou">
						        <img src="../../image/index/icon_qiugou.png" style="width: 60px;"/>
						        <div class="mui-media-body sw-meida-text">配件求购</div>
							</li>
						</ul>
						
					</div>
				</div>
			</div>
			
			<!--腰部banner-->
			<div id="yaoList"></div>

			<div style="height: 60px;width: 100%"></div>
	</div>

	<nav class="mui-bar mui-bar-tab" style="background: #FFFFFF;box-shadow: none;">

		<a id="defaultTab" class="mui-tab-item mui-active" href="/weixin/view/index/index.html">
			<span class="mui-icon sw-home">
			</span>
			<span class="mui-tab-label">首页</span>
		</a>
		<a class="mui-tab-item" href="/weixin/view/vin/index.html">
			<span class="mui-icon sw-vin">
			</span>
			<span class="mui-tab-label">VIN查询</span>
		</a>
		<a class="mui-tab-item" href="/weixin/view/coterie/list.html">
			<span class="mui-icon sw-quanzi">
			</span>
			<span class="mui-tab-label">圈子</span>
		</a>
		<a class="mui-tab-item" href="/weixin/view/gonggao/notice.html">
			<span class="mui-icon sw-gonggao">
			</span>
			<span class="mui-tab-label">通知公告</span>
		</a>
		<a class="mui-tab-item" href="/weixin/view/person/index.html">
			<span class="mui-icon sw-geren">
			</span>
			<span class="mui-tab-label">个人中心</span>
		</a>

	</nav>
	<!--顶部banner模板-->
	<script id="top-list-tpl" type="text/html">
		
		{{# var len = d.length }}
		<div id="slider" class="mui-slider" style="height: 200px;">
			<div class="mui-slider-group mui-slider-loop">
				
				<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
				{{# if(d[len-1].url_type==4){ }}	
				<div class="mui-slider-item  mui-slider-item-duplicate" onclick="linkUrl('{{ d[len-1].url }}','{{ d[len-1].url_type }}')">
					<a href="javascript:;">
						<img src="{{ imgUrl+d[len-1].img }}" height="200px">
					</a>
				</div>
				{{# }else if(d[len-1].url_type==1||d[len-1].url_type==2||d[len-1].url_type==3){ var urlStr1 = d[len-1].url_type==1?'activity':(d[len-1].url_type==2?'news':'newbie') }}
				<div class="mui-slider-item  mui-slider-item-duplicate" onclick="goDetail('{{ d[len-1].art_id }}','{{ urlStr1 }}')"> 
					<a href="javascript:;">
						<img src="{{ imgUrl+d[len-1].img }}" height="200px">
					</a>
				</div>
				{{# }else{ }}
				<div class="mui-slider-item  mui-slider-item-duplicate">
					<a href="javascript:;">
						<img src="{{ imgUrl+d[len-1].img }}" height="200px">
					</a>
				</div>
				{{# } }}

				{{# for(var i = 0;i < len; i++){ }}
				{{# if(d[i].url_type==4){ }}	
				<div class="mui-slider-item" onclick="linkUrl('{{ d[i].url }}','{{ d[i].url_type }}')">
					<a href="javascript:;">
						<img src="{{ imgUrl+d[i].img }}" height="200px">
					</a>
				</div>
				{{# }else if(d[i].url_type==1||d[i].url_type==2||d[i].url_type==3){ var urlStr = d[i].url_type==1?'activity':(d[i].url_type==2?'news':'newbie') }}
				<div class="mui-slider-item" onclick="goDetail('{{ d[i].art_id }}','{{ urlStr }}')"> 
					<a href="javascript:;">
						<img src="{{ imgUrl+d[i].img }}" height="200px">
					</a>
				</div>
				{{# }else{ }}
				<div class="mui-slider-item">
					<a href="javascript:;">
						<img src="{{ imgUrl+d[i].img }}" height="200px">
					</a>
				</div>
				{{# } }}
				
				{{# } }}
				<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
				{{# if(d[0].url_type==4){ }}	
				<div class="mui-slider-item  mui-slider-item-duplicate" onclick="linkUrl('{{ d[0].url }}','{{ d[0].url_type }}')">
					<a href="javascript:;">
						<img src="{{ imgUrl+d[0].img }}" height="200px">
					</a>
				</div>
				{{# }else if(d[0].url_type==1||d[0].url_type==2||d[0].url_type==3){ var urlStr1 = d[0].url_type==1?'activity':(d[0].url_type==2?'news':'newbie') }}
				<div class="mui-slider-item  mui-slider-item-duplicate" onclick="goDetail('{{ d[0].art_id }}','{{ urlStr1 }}')"> 
					<a href="javascript:;">
						<img src="{{ imgUrl+d[0].img }}" height="200px">
					</a>
				</div>
				{{# }else{ }}
				<div class="mui-slider-item  mui-slider-item-duplicate">
					<a href="javascript:;">
						<img src="{{ imgUrl+d[0].img }}" height="200px">
					</a>
				</div>
				{{# } }}
				
			</div>
			<div class="mui-slider-indicator">
				{{# if(len>1){ }}
				<div class="mui-indicator mui-active"></div>
				{{# } }}
				{{# for(var i = 1;i < len; i++){ }}
				<div class="mui-indicator"></div>
				{{# } }}
			</div>
		</div>
	</script>
	<!--腰部模板-->
	<script id="yao-list-tpl" type="text/html">
		 {{# for(var i = 0, len = d.length; i < len; i++){ }}
		 	{{# if(d[i].url_type==4){ }}
			<div class="mui-card" style="margin: 0;margin-bottom: 8px;">
				<div class="mui-card-content" >
					<a onclick="linkUrl('{{ d[i].url }}','{{ d[i].url_type }}')"> 
					<img src="{{ imgUrl+d[i].img }}" class="sw-bottom-banner" alt="" width="100%" />
					</a>
				</div>  
			</div> 
			{{# }else if(d[i].url_type==3){ }}
			<div class="mui-card" style="margin: 0;margin-bottom: 8px;">
				<div class="mui-card-content" >
					<a onclick="goDetail('{{ d[i].art_id }}','newbie')"> 
					<img src="{{ imgUrl+d[i].img }}" class="sw-bottom-banner" alt="" width="100%" />
					</a>
				</div>  
			</div> 
			{{# }else if(d[i].url_type==2){ }}
			<div class="mui-card" style="margin: 0;margin-bottom: 8px;">
				<div class="mui-card-content" >
					<a onclick="goDetail('{{ d[i].art_id }}','news')"> 
					<img src="{{ imgUrl+d[i].img }}" class="sw-bottom-banner" alt="" width="100%" />
					</a>
				</div>  
			</div> 
			{{# }else if(d[i].url_type==1){ }}
			<div class="mui-card" style="margin: 0;margin-bottom: 8px;">
				<div class="mui-card-content" >
					<a onclick="goDetail('{{ d[i].art_id }}','activity')"> 
					<img src="{{ imgUrl+d[i].img }}" class="sw-bottom-banner" alt="" width="100%" />
					</a>
				</div>  
			</div> 
			{{# }else{ }}
			<div class="mui-card" style="margin: 0;margin-bottom: 8px;">
				<div class="mui-card-content" >
					<a href="javascript:;">   
					<img src="{{ imgUrl+d[i].img }}" class="sw-bottom-banner" alt="" width="100%" />
					</a>
				</div>  
			</div> 
			{{# } }}
		{{# } }}
	</script>
	
</body>
<script src="../../js/mui.min.js"></script>
<script src="../../js/global.js"></script>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/laytpl/laytpl.js"></script>
<script src="../../js/mui.pullToRefresh.js"></script>
<script src="../../js/mui.pullToRefresh.material.js"></script> 
 <script type="text/javascript" charset="utf-8">	

 	$(function(){
		//初始化城市配置
		var cityIni= JsonStorage.getItem('cityIni');
		if(cityIni==undefined){
			cityIni = '成都市';
			JsonStorage.setItem('cityIni',cityIni)
		}

		if(cityIni.length>4){
			cityIni = cityIni.substring(0,4)+'...';
		}



		$("#addressCon").text(cityIni);

		//将之前保存数据提前显示到页面
		var data = JsonStorage.getItem('banner');
		if(data){
			data = JSON.parse(data);
			//sw.jcon(data);
			//初始化页面数据
			setView(data);
		}

		//获取数据
		http.load('api.sev.index','banner',{},function(rData){
			//关闭加载框
			//closeLoading(1000);
			//初始化页面数据
			setView(rData);
			//将请求的数据保存到本地
			JsonStorage.setItem('banner',JSON.stringify(rData));

		},function(xhr,type,errorThrown){
			//关闭加载框
			//closeLoading();
			//无网络提示
			sw.toast('获取数据失败，请检查网络');
		});

		//获取系统基础配置
		http.load('api.sev.index','getBaseIni',{},function(rData){
			JsonStorage.setItem('qqIni',rData.QQ);
			JsonStorage.setItem('telIni',rData.Tel);
		});

		//监控消息提示
		if(UserInfo.has_login()){

			$("#msgList").show();

			var token   = JsonStorage.getItem('token');
			var postData = {};
			postData.token = token;
			postData.userType = JsonStorage.getItem('userType');	//2为业务员
			//如果已经登陆 获取登录后的数据
			http.load('api.sev.index','getUnReadMsgNum',postData,function(rData){//请求成功
				if(rData.status==200){
					var data = rData.data;
					if(data.naNum>0){
						$("#naTip").show();
					}
				}
			})

		}else{
			$("#msgList").hide();
		}


		//选项卡点击事件
		mui('.mui-bar-tab').on('tap', 'a', function(e) {
			var targetTab = this.getAttribute('href');
				location.href = targetTab+'?rand'+Math.random;
		});
	});
 	//循环初始化所有下拉刷新，上拉加载。
	mui("body").pullToRefresh({
		down: {
			auto: true,
			callback: function() {	
				setTimeout(function(){
					location.href = location.href;
				},800); 
				
			}
		} 
		
	});
 
 	/**
 	 * 初始化页面数据
 	 * @param {Object} data
 	 */
 	function setView(rData){
 		//顶部 
			var topTpl = $('#top-list-tpl').html();			
			var topData = rData.top;
	        laytpl(topTpl).render(topData,function(render){           
	            mui('#topList')[0].innerHTML = render;  
	            //顶部轮播大于一张时启动滚动
	            var topLen = topData.length;
	            if(topLen>1){
		            //轮播滚动定时
					mui("#slider").slider({
						interval: 3000
					}); 
	            }
	           
	        });
			//腰部
			var yaoTpl = $('#yao-list-tpl').html();			
			var yaoData = rData.yao;
			dy(yaoData);  
	        laytpl(yaoTpl).render(yaoData,function(render){           
	            mui('#yaoList')[0].innerHTML = render;
	        });
 	}
 
 
 	/**
 	 * 前往产品页面  清仓 促销
 	 */
 	function goProduct(type){ 		
 		openView('../../view/index/product/index.html','index_product_index','pop-in',{'type':type});				
 	}
 
	/**
	  * 前往详情
	  * @param {Object} art_ID
	  * @param {Object} type
	  */
	 function goDetail(art_ID,type){	 	
	 	var extras = {'art_ID':art_ID,'type':type};
	 	if(type=='newbie'){
	 		var url  = '../../view/gonggao/newbieDetail.html';
	 		var id   = 'gonggao_newbieDetail';
	 	}
	 	
	 	if(type=='activity'){
	 		var url  = '../../view/gonggao/promotionDetail.html';
	 		var id   = 'gonggao_promotionDetail';
	 	}
	 	
	 	if(type=='news'){
	 		var url  = '../../view/gonggao/promotionDetail.html';
	 		var id   = 'gonggao_promotionDetail';
	 	}
	 	
	 	var aniShow = 'pop-in';
	 	openView(url,id,aniShow,extras);	 	
	 }	
	 
	//城市选择
	mui("#addressCon")[0].addEventListener('tap',function(){
		openView('../../view/index/changeCity.html','selectAddress','slide-in-bottom');
	})
	
	//消息列表
	mui("#msgList")[0].addEventListener('tap',function(){
		openView('../../view/msg/index.html','view_msg_index','pop-in');
	})
	
	
	//求购
	mui("#qiugou")[0].addEventListener('tap',function(){
		openView('../../view/index/qiugou/index.html','qiugou','pop-in');
	})
	
	//jiaoche
	mui("#jiaoche")[0].addEventListener('tap',function(){
		openView('../../view/index/car/index.html','jiaoche','pop-in');
	})
	//huoche
	mui("#track")[0].addEventListener('tap',function(){
		openView('../../view/index/track/index.html','track','pop-in');
	})
	//cuxiao
	mui("#wuliu")[0].addEventListener('tap',function(){
		openView('../../view/index/wuliu/index.html','wuliu','pop-in');
	})
 </script>
</html>