#message{width: 1200px;margin: 0 auto;margin-top: 75px;}
.messageList{width: 840px;margin: 0 auto;margin-top: 30px}
.floLeft{float: left;}
.messageDiv{line-height: 30px;font-size: 20px;float: right;width: 748px;border: 1px solid #DDD;border-radius: 10px;padding: 30px 10px 20px 10px;}
.messageInfoDiv{font-size: 18px;width: 688px;background: #FFF;padding: 20px 8px 10px 8px;margin: 0 auto;margin-top: 15px;border: 1px solid #DDD;}
.color999{color: #999;}
.numBers{font-size: 14px;color: #999;}
.messgeXian{width: 635px;margin: 0 auto;border-bottom: 1px solid #DDD;margin-top: 5px;margin-bottom: 5px;}
.size14color999{font-size: 14px;color: #999;}
.messgeYouXiao{margin-left: 100px;color: #FF524C}
.moreDate{width: 840px;margin: 0 auto;margin-top: 15px;font-size: 16px;}
.moreText{width: 748px;background: #CCCCCC;height: 50px;line-height: 50px;text-align: center;color: #FFF;float: right;}

























