<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>支付结果</title>
    <link href="../../../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../../css/common.css" type="text/css" charset="utf-8"/>
    <script type="text/javascript" charset="utf-8">
      
    </script>
</head>
<body style="background: #F5F5F5;">
	
	<header class="mui-bar mui-bar-nav">
	    <h1 class="mui-title">支付结果</h1>
	</header>
	
	<div class="mui-content" style="padding: 0 20px;background: #F5F5F5;">
	   	    
	    <div style="width: 100%;text-align: center;padding-top: 140px;padding-bottom: 30px;">
	    	<div id="success" style="display: none;">
	    		<img src="../../../image/person/vip/icon_zhifu_chenggong@3x.png" width="80px"/>
	    		<p style="color: #333333;font-weight: 700;line-height: 28px;">支付成功</p>
	    	</div>
	    	
	    	<div id="faild" style="display: none;">
	    		<img src="../../../image/person/vip/icon_zhifu_shibai@3x.png" width="80px"/>
	    		<p style="color: #333333;font-weight: 700;line-height: 28px;">支付失败</p>
	    	</div>
	    	
	    </div>
	    
	    <button type="button" class="mui-btn mui-btn-tangerine mui-btn-block" onclick="goBack()">返回</button>
	</div>
	
</body>
 <script src="../../../js/mui.min.js"></script>
 <script src="../../../js/global.js"></script>
 <script src="../../../js/jquery.min.js"></script>
 <script>
	 /**
	  * 获取订单号
	  **/
	 $(function(){

		 var urlVars = getUrlVars();

		 if(urlVars.coder){

			 http.load('api.sev.pay','getPayStatus',{'coder':urlVars.coder},function(rData){

				 if(rData.status==200){//创建成功 前往支付

					 var payStatus = rData.payStatus;

					 if(payStatus==1){
						 $("#success").show();
					 }else{
						 $("#faild").show();
					 }
				 }
			 })
		 }

	 });

	 function goBack(){

		 location.href = "/weixin/view/person/VIP/index.html";

	 }
 </script>
</html>