/* Generator: Word2HTML */
p.MsoNormal, li.MsoNormal, div.MsoNormal {margin:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;font-size:16.0pt;font-family:"Times New Roman","serif";}
p.MsoHeader, li.MsoHeader, div.MsoHeader {margin:0cm;margin-bottom:.0001pt;text-align:center;tab-stops:center 207.65pt right 415.3pt;layout-grid-mode:char;border:none;padding:0cm;font-size:9.0pt;font-family:"Times New Roman","serif";}
p.MsoFooter, li.MsoFooter, div.MsoFooter {margin:0cm;margin-bottom:.0001pt;tab-stops:center 207.65pt right 415.3pt;layout-grid-mode:char;font-size:9.0pt;font-family:"Times New Roman","serif";}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {margin:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;font-size:9.0pt;font-family:"Times New Roman","serif";}
p.MsoNoSpacing, li.MsoNoSpacing, div.MsoNoSpacing {margin:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:inter-ideograph;font-size:16.0pt;font-family:"Times New Roman","serif";}
p.NoSpacing1, li.NoSpacing1, div.NoSpacing1 {margin:0cm;margin-bottom:.0001pt;layout-grid-mode:char;font-size:11.0pt;font-family:"Tahoma","sans-serif";}
p.NoSpacing, li.NoSpacing, div.NoSpacing {margin:0cm;margin-bottom:.0001pt;layout-grid-mode:char;font-size:11.0pt;font-family:"Tahoma","sans-serif";}
div.WordSection1 {page:WordSection1;}
div.WordSection2 {page:WordSection2;}
div.WordSection3 {page:WordSection3;}
div.WordSection4 {page:WordSection4;}
div.WordSection5 {page:WordSection5;}
div.WordSection6 {page:WordSection6;}
div.WordSection7 {page:WordSection7;}
div.WordSection8 {page:WordSection8;}
ol {margin-bottom:0cm;}
ul {margin-bottom:0cm;}