<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
</head>
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="/css/bootstrap/style.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="/css/pc/index/index.css" crossorigin="anonymous">
<link rel="stylesheet" href="/css/swiper2/idangerous.swiper.css" crossorigin="anonymous">
<link rel="stylesheet" href="/css/pc/style.css" crossorigin="anonymous">
<script src="/js/jquery1.12.4.min.js"></script>
<style>
  *{font-family: '微软雅黑 Regular', '微软雅黑';}
  a{color: inherit}
</style>
<body>
<!--顶部导航条开始-->
<div class="row" id="hederTop">
  <div style="width: 1200px;margin: 0 auto;font-family: '微软雅黑 Regular', '微软雅黑';position: relative">
    <div class="col-md-1 dest" style="float: left;width: 8%">成都<img style="margin-left: 20px" src="/images/qpxm/pc/index/u8.png" alt="">
      <div class="destList">
        <div style="padding: 15px">
          <div><a href="javascript:;">成都</a></div>
          <div><a href="javascript:;">广州</a></div>
          <div><a href="javascript:;">上海</a></div>
        </div>
      </div>
    </div>
    <div style="float: right;">
      <div class="row headerTiao">
        <div class="caiDanL" id="login" style="padding-right: 13px;position: relative">
          <!--登陆信息-->
          <div class="login">
            <!--已经登陆-->
            <?php if(1){?>
              <div class="isLoginDiv">
                <a href="/person/basics">
                  <img src="/images/qpxm/pc/index/noLogin.png" class="isLoginImg" alt="">
                  <div class="isLoginInfo">
                    <div class="height20">昵称</div>
                    <div class="height20">经销商</div>
                    <div class="height20">公司名称</div>
                  </div>
                </a>
                <div style="clear: both"></div>
                <div class="VIPTime">
                  <span>VIP ：2017-03-14</span>
                  <span style="float: right"><a href="javascript:;">退出</a></span>
                </div>
              </div>
            <div class="borBottom"></div>
            <div class="bottomDiv">
              <div class="aList"><a href="javascript:;">店铺管理</a></div>
              <div class="aList"><a href="javascript:;">汽修厂轨迹</a></div>
              <div class="aList"><a href="javascript:;">我的轨迹</a></div>
              <div class="aList"><a href="javascript:;">VIP会员</a></div>
              <div class="aList"><a href="javascript:;">我的刷新点</a></div>
              <div class="aList"><a href="javascript:;">认证</a></div>
              <div class="aList"><a href="javascript:;">我的圈子</a></div>
              <div class="aList"><a href="javascript:;">我的求购</a></div>
              <div class="aList"><a href="javascript:;">收藏记录</a></div>
              <div class="aList"><a href="javascript:;">绑定业务员</a></div>
              <div class="aList"><a href="javascript:;">分享邀请</a></div>
            </div>
            <?php }else{?>
            <!--未登录-->
            <a href="/login">
              <div class="noLogin">
                <img src="/images/qpxm/pc/index/noLogin.png" class="noLoginImg" alt="">
                &nbsp;&nbsp;[请登录]
              </div>
              <div class="noLoginBottom"></div>
              <div class="bottomDiv">
                <div class="aList">店铺管理</div>
                <div class="aList">汽修厂轨迹</div>
                <div class="aList">我的轨迹</div>
                <div class="aList">VIP会员</div>
                <div class="aList">我的刷新点</div>
                <div class="aList">认证</div>
                <div class="aList">我的圈子</div>
                <div class="aList">我的求购</div>
                <div class="aList">收藏记录</div>
                <div class="aList">绑定业务员</div>
                <div class="aList">分享邀请</div>
              </div>
            </a>
            <?php }?>
          </div>
          <a href="" style="color: #FF0103;">请登录</a><img style="" src="/images/qpxm/pc/index/u7.png" alt="">

        </div>
        <div class="caiDanL" style="padding-right: 12px">|</div>
        <div class="caiDanL"><a href="" class="caiDA">注册</a></div>
        <div class="caiDanL"><a href="" class="caiDA">我的收藏</a></div>
        <div class="caiDanL"><a href="" class="caiDA">我的圈子</a></div>
        <div class="caiDanL"><a href="" class="caiDA">我的刷新点(0)</a></div>
        <div class="caiDanL"><a href="" class="caiDA">消息(0)</a></div>
        <div class="caiDanL moreShowS">
          <a href="" class="caiDA">更多<img style="" src="/images/qpxm/pc/index/u8.png" alt=""></a>
          <div class="moreShow">
            <div class="moreShowList">
              <div><a href="javascript:;">新闻咨询</a></div>
              <div><a href="javascript:;">促销活动</a></div>
              <div><a href="javascript:;">新手上路</a></div>
              <div><a href="javascript:;">公司简介</a></div>
              <div><a href="javascript:;">服务协议</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--右侧固定定位QQ、电话-->
<div class="fixedDinWei">
  <div class="fixedDiv">
    <a href="javascript:;" onclick="showF(this)">
      <div class="fixedYuan"><img src="/images/qpxm/pc/index/phone.png" alt=""></div>
    </a>
    <div class="fixedQQ">123456</div>
  </div>
  <div class="fixedDiv">
    <a href="javascript:;" onclick="showF(this)">
      <div style="float: right;"><img src="/images/qpxm/pc/index/rQQ.png" alt=""></div>
    </a>
    <div class="fixedQQ">123456</div>
  </div>
  <div class="fixedDiv">
    <a href="javascript:;" onclick="goTop()">
      <div style="float: right;"><img src="/images/qpxm/pc/index/rUp.png" alt=""></div>
    </a>
  </div>
</div>
<!--搜索及logo-->
<div class="row mideLogo">
  <!--logo-->
  <div class="col-md-3 mideLogoDiv">
    <div class="logoImg">
      <img src="/images/qpxm/pc/index/logo.png" alt="">
    </div>
  </div>
  <!--搜索-->
  <div class="col-md-6 souSuoDiv">
    <div style="padding-top: 55px">
      <div class="souSuoList">
        <a href="javascript:;"><span class="shangJ">轿车商家</span></a>
        <a href="javascript:;"><span class="shangJia">货车商家</span></a>
        <a href="javascript:;"><span class="shangJia">新品促销</span></a>
        <a href="javascript:;"><span class="shangJia">库存清仓</span></a>
      </div>
      <div>
        <div class="sousuoIm"><img src="/images/qpxm/pc/index/souSuo.png" alt=""></div>
        <div style="float: left;width: 450px">
          <input placeholder="输入公司名称、主营产品查询" class="form-control souSuoInput" type="text">
        </div>
        <div style="float: left">
          <button type="button" class="btn btn-primary souSuo">搜索</button>
        </div>
      </div>
    </div>
  </div>
  <!--二维码-->
  <div class="col-md-1"></div>
  <div class="col-md-2 erWeiMDiv">
    <div style="">
      <div class="row" style="">
        <div style="float: left">
          <div class="erWeiM" style="margin: 0 auto">
            <img src="/images/qpxm/pc/index/erWeiM.png" width="70px" alt="">
          </div>
          <div class="downEr">手机下载版</div>
        </div>
        <div class="" style="float: right">
          <div class="erWeiM" style="margin: 0 auto">
            <img src="/images/qpxm/pc/index/erWeiM.png" width="70px" alt="">
          </div>
          <div class="downEr">微信版</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--菜单导航栏-->
<div id="navigationLan">
  <div class="row navigationLan">
    <a href="javascript:;"><div class="navigation navigationActive">首页</div></a>
    <a href="/pc.index/limousine"><div class="navigation">轿车商家</div></a>
    <a href="/pc.index/truck"><div class="navigation">货车商家</div></a>
    <a href="/pc.index/newMarket"><div class="navigation">新品促销</div></a>
    <a href="/pc.index/clearance"><div class="navigation">库存清仓</div></a>
    <a href="/pc.index/mountings"><div class="navigation">配件求购</div></a>
    <a href="/pc.index/vinQuery"><div class="navigation">vin查询</div></a>
    <a href="/pc.index/circle"><div class="navigation">圈子</div></a>
  </div>
</div>
<!--中部轮播-->
<div class="row luoBo">
  <div class="lunBoDiv" style="overflow: hidden">
    <div class="swiper-wrapper">
      <?php for($i=0; $i<5; ++$i){?>
      <div class="swiper-slide"><img src="/images/qpxm/pc/index/banner.png" style="height: 410px;width: 100%" alt=""></div>
      <?php }?>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <!--公告-->
  <div class="gongGao" style="width: 380px">
    <div class="gongGaoDiv">
      <div style="border-bottom: 1px solid #ddd;padding-bottom: 15px">
        <span style="font-size: 15px">通知公告</span>
        <div style="float: right">
          <span><img src="/images/qpxm/pc/index/left.png" alt=""></span>
          <span><img src="/images/qpxm/pc/index/right.png" alt=""></span>
        </div>
      </div>
      <?php for($i=0; $i<7; ++$i){?>
      <div class="gongGaoList">
        <a href="javascript:;"><span class="tongGTitle">“经销商企业名称”已成功入驻</span></a>
        <div style="float: right">
          <span><img src="/images/qpxm/pc/index/right.png" alt=""></span>
        </div>
      </div>
      <?php }?>
    </div>
    <div class="xinShou">
      <img src="/images/qpxm/pc/index/che.png" style="width: 100%;height: 60px" alt="">
    </div>
  </div>
</div>
<!--汽车商家列表-->
<div class="row merchant">
  <div class="upMerchant">
    <!--汽车列表-->
    <div class="carDiv">
      <div style="height: 65px;">
        <div class="leftShuX">
          <img src="/images/qpxm/pc/index/shuX.png" height="30px" alt="">
        </div>
        <div class="carText">
          <div class="carTextT"><strong>轿车商家</strong></div>
        </div>
      </div>
      <div class="cheMenu" style="position: relative;">
        <!--车系滑动列表-->
        <div class="swiper-container swiper-containerOne" style="width: 90%;margin: 0">
          <div class="swiper-wrapper">
            <div class="swiper-slide cheMenuClassActive">德国车系</div>
            <div class="swiper-slide">Clas</div>
            <?php for($i=0; $i<12; ++$i){?>
            <div class="swiper-slide">德国车系<?php echo $i;?></div>
            <?php }?>
          </div>
        </div>
        <!--向左向右-->
        <div class="cheMenuClass">
          <span class="handEr prevList0"><img src="/images/qpxm/pc/index/left.png" alt="" onclick="leftOne()"></span>
          <span class="handEr nextList0" style="margin-left: 10px;"><img src="/images/qpxm/pc/index/right.png" onclick="rightOne()" alt=""></span>
        </div>
      </div>
      <!--汽车列表-->
      <div class="row carListDiv">
        <?php for($i=0; $i<18; ++$i){?>
         <div class="carList">
            <div class="carImg">
              <img src="/images/qpxm/pc/index/biaoZ.png" alt="">
            </div>
           <div class="carName">英菲尼迪</div>
         </div>
        <?php }?>
      </div>
    </div>
    <!--汽车列表-->
    <div class="carDiv" style="margin-top: 10px">
      <div style="height: 65px;">
        <div class="leftShuX">
          <img src="/images/qpxm/pc/index/shuX.png" height="30px" alt="">
        </div>
        <div class="carText">
          <div class="carTextT"><strong>轿车商家</strong></div>
        </div>
      </div>

      <div class="cheMenu" style="position: relative;">
        <div class="swiper-container swiper-containerTwo" style="width: 90%;margin: 0">
          <div class="swiper-wrapper">
            <div class="swiper-slide cheMenuClassActive">德国车系</div>
            <div class="swiper-slide">Clas</div>
            <?php for($i=0; $i<12; ++$i){?>
            <div class="swiper-slide">德国车系<?php echo $i;?></div>
            <?php }?>
          </div>
        </div>
        <!--向左向右-->
        <div class="cheMenuClass">
          <span class="handEr prevList0"><img src="/images/qpxm/pc/index/left.png" alt="" onclick="leftTwo()"></span>
          <span class="handEr nextList0" style="margin-left: 10px;"><img src="/images/qpxm/pc/index/right.png" onclick="rightTwo()" alt=""></span>
        </div>
      </div>

      <!--汽车列表-->
      <div class="row carListDiv">
        <?php for($i=0; $i<18; ++$i){?>
        <div class="carList">
          <div class="carImg">
            <img src="/images/qpxm/pc/index/biaoZ.png" alt="">
          </div>
          <div class="carName">英菲尼迪</div>
        </div>
        <?php }?>
      </div>
    </div>
  </div>

  <!--新品促销-->
  <div class="newDiv">
    <div class="xinPDiv">
      <div class="row xinPDivTop">
          <div class="xinPDivBody">
            <a href="javascript:;">
              <div class="xinPName xinPNameActive" style="padding-left: 10px">
                新品促销
              </div>
            </a>
            <a href="javascript:;">
            <div class="xinPName">
              库存清仓
            </div>
            </a>
          </div>
          <div class="xinPMore">
            <div style="text-align: right">更多>></div>
          </div>
      </div>
      <!--新品列表-->
      <?php for($i=0; $i<6; ++$i){?>
      <a href="javascript:;">
        <div class="xinPListDiv">
            <div class="xinPDivImg">
              <img src="/images/qpxm/pc/index/xinPChe.png" alt="">
            </div>
            <div class="xinPDivInfo">
              <p class="xinPDivInfoName">英菲尼迪</p>
              <div>类型：<span>一级分类</span></div>
              <div>车系：<span>日系车</span></div>
              <div>价格：<span style="color: red">￥300.00</span></div>
            </div>
          <!--新品标签-->
            <div class="xinPBiaoQian">
              <img src="/images/qpxm/pc/index/new.png" alt="">
            </div>
        </div>
      </a>
      <?php }?>
    </div>
  </div>

</div>
<!--推荐经销商-->
<div class="tuiJianDiv">
  <div class="tuiJianDivBoby">
    <div style="float: left;">
      <img src="/images/qpxm/pc/index/yewollShu.png" height="30px" alt="">
    </div>
    <div class="tuiJianShang">
      <strong>推荐经销商</strong>
    </div>
  </div>
  <!--商家列表-->
  <div class="row tuiJianList">
    <div class="swiper-button-prev" style="position: absolute"></div>
    <div class="swiper-button-next" style="position: absolute"></div>
    <!--推荐商家图片列表-->
    <div class="swiper-container" style="height: 156px;margin: 0 auto">
      <div class="swiper-wrapper">
        <?php for($i=0; $i<15; ++$i){?>
          <div class="swiper-slide shangJShow">
            <a href="javascript:;">
              <img src="/images/qpxm/pc/index/tuiJianS.png" width="156px" alt="">
              <div class="shangJHide">
                <div class="shangJiaBack"></div>
                <div class="shangJiaDivT">
                  <p class="shangJiaCheN">成都华新华驰</p>
                  <p>[主营]一汽汽车：卡罗拉 睿智 皇冠 RAV4 威驰 花冠 普拉多 兰德酷路泽 广汽丰田 威驰 花冠 普拉多 兰德酷路泽 广汽丰田</p>
                </div>
              </div>
            </a>
          </div>
        <?php }?>
      </div>
    </div>
  </div>
</div>
<!--腰带banner-->
<div style="margin-bottom: 15px">
  <div class="yaoBanner">
    <a href="javascript:;"><img src="/images/qpxm/pc/index/banner1.png" alt=""></a>
  </div>
  <div class="yaoBanner">
    <a href="javascript:;"><img src="/images/qpxm/pc/index/banner1.png" alt=""></a>
  </div>
</div>
<!--最新求购-->
<div class="zuiXGDiv">
  <div class="zuiXGDivL">
    <div style="margin-right: 20px">
      <div class="zuiXGWD">
        <img class="zuiXGDivImgs" src="/images/qpxm/pc/index/ziTiao.png" alt="">
      </div>
      <div class="zuiXGWDR">
        <a href="javascript:;"><p class="zuiXGWMore">更多>></p></a>
      </div>
    </div>
    <div style="margin-left: 20px">
      <p class="zuiXText"><strong>最新求购</strong></p>
    </div>
  </div>
  <!--求购列表-->
  <div style="height: 255px;">
    <?php for($j=0; $j<2; ++$j){?>
    <a href="javascript:;">
      <div class="qiuGList">
          <div class="qiuGListDiv">
            <div class="zuiXDiv">
              <div class="zuiXGDivImg">
                <img src="/images/qpxm/pc/index/qiuGChe.png" alt="">
              </div>
            </div>
            <div class="zuiXinInfo">
              <span class="zuiXinText">
                <span>日系</span>
                <span>|</span>
                <span>英菲尼迪</span>
              </span>
              <div class="zuiXinInfoT">
                <div class="zuiXinYouX">
                  有效期: <span>1天</span>
                </div>
              </div>
              <div class="zuiXinInfoD">
               <span>英菲尼迪Q709L(日系)</span>
               <div class="peiJ">配件数：<span class="peiJianS">1</span></div>
              </div>
            </div>
          </div>
          <!--小图片列表-->
          <div class="smallImgDiv">
            <?php for($i=0; $i<3; ++$i){?>
            <div class="smallImg">
              <img src="/images/qpxm/pc/index/qiuGImg1.png" alt="">
            </div>
            <?php }?>
          </div>
          <div class="smallDivs">
            <div class="smallDivSty">
              <span class="smallName"><img src="/images/qpxm/pc/index/shangB.png" alt=""></span>三合英菲尼迪
            </div>
            <div class="smallDivDiv">
              <span class="smallMar"><img src="/images/qpxm/pc/index/time.png" alt=""></span>2017-03-28 15:06:25
            </div>
          </div>
      </div>
    </a>
    <?php }?>
    <a href="javascript:;">
      <div class="qiuGList" style="margin-right: 0">
      <div class="qiuGListDiv">
        <div class="zuiXDiv">
          <div class="zuiXGDivImg">
            <img src="/images/qpxm/pc/index/qiuGChe.png" alt="">
          </div>
        </div>
        <div class="zuiXinInfo">
            <span class="zuiXinText">
              <span>日系</span>
              <span>|</span>
              <span>英菲尼迪</span>
            </span>
          <div class="zuiXinInfoT">
            <div class="zuiXinYouX">
              有效期: <span>1天</span>
            </div>
          </div>
          <div class="zuiXinInfoD">
            <span>英菲尼迪Q709L(日系)</span>
            <div class="peiJ">配件数：<span class="peiJianS">1</span></div>
          </div>
        </div>
      </div>
      <!--小图片列表-->
      <div class="smallImgDiv">
        <?php for($i=0; $i<3; ++$i){?>
        <div class="smallImg">
          <img src="/images/qpxm/pc/index/qiuGImg1.png" alt="">
        </div>
        <?php }?>
      </div>
      <div class="smallDivs">
        <div class="smallDivSty">
          <span class="smallName"><img src="/images/qpxm/pc/index/shangB.png" alt=""></span>三合英菲尼迪
        </div>
        <div class="smallDivDiv">
          <span class="smallMar"><img src="/images/qpxm/pc/index/time.png" alt=""></span>2017-03-28 15:06:25
        </div>
      </div>
    </div>
    </a>
  </div>
</div>
<!--促销活动-->
<div class="zuiXGDiv">
  <div class="zuiXGDivL">
    <div style="margin-right: 20px">
      <div class="zuiXGWD">
        <img class="zuiXGDivImgs" src="/images/qpxm/pc/index/cuXiaoShu.png" alt="">
      </div>
      <div class="zuiXGWDR">
        <a href="javascript:;"><p class="zuiXGWMore">更多>></p></a>
      </div>
    </div>
    <div style="margin-left: 20px">
      <p class="zuiXText"><strong>促销活动</strong></p>
    </div>
  </div>
  <div style="height: 270px;">
    <?php for($i=0;$i<3; ++$i){?>
    <a href="javascript:;">
      <div class="cuXiaoDiv">
        <div class="cuXiaoDivImg">
          <img src="/images/qpxm/pc/index/cuXiaoCar.png" alt="">
        </div>
        <div class="cuXiaoTitle">
          <span>促销标题活动促销标题活动</span>
        </div>
      </div>
    </a>
    <?php }?>
    <a href="javascript:;">
      <div class="cuXiaoDiv" style="margin-right: 0">
        <div class="cuXiaoDivImg">
          <img src="/images/qpxm/pc/index/cuXiaoCar.png" alt="">
        </div>
        <div class="cuXiaoTitle">
          <span>促销标题活动促销标题活动</span>
        </div>
      </div>
    </a>
  </div>
</div>
<!--新闻资讯-->
<div class="zuiXGDiv" style="margin-top: 15px;height: auto">
  <div class="zuiXGDivL">
    <div style="margin-right: 20px">
      <div class="zuiXGWD">
        <img class="zuiXGDivImgs" src="/images/qpxm/pc/index/lvShu.png" alt="">
      </div>
      <div class="zuiXGWDR">
        <a href="javascript:;"><p class="zuiXGWMore">更多>></p></a>
      </div>
    </div>
    <div style="margin-left: 20px">
      <p class="zuiXText"><strong>新闻资讯</strong></p>
    </div>
  </div>
  <div class="xinWenDiv">
    <?php for($i=0; $i<2; ++$i){?>
    <a href="javascript:;">
      <div class="xinWenBor">
        <div class="xinWenBorD">
          <img src="/images/qpxm/pc/index/xinWenCar.png" alt="">
        </div>
          <div class="xinWenText">
            <span>
              新闻资讯超出不显示新闻资讯超出不显示新闻资讯超出不不显示新闻资讯超出不显示不显示新闻资讯超
            </span>
          </div>
      </div>
    </a>
    <?php }?>
    <a href="javascript:;">
    <div class="xinWenBor" style="margin-right: 0">
      <div class="xinWenBorD">
        <img src="/images/qpxm/pc/index/xinWenCar.png" alt="">
      </div>
      <div class="xinWenText">
          <span>
            新闻资讯超出不显示新闻资讯超出不显示新闻资讯超出不不显示新闻资讯超出不显示不显示新闻资讯超
          </span>
      </div>
    </div>
    </a>
  </div>
</div>
<!--底部开始-->
<div id="bottomBiv">
  <div class="bottomBiv">
      <div class="bottomList">
        <div class="bottomListDiv"><a href="javascript:;" class="bottomText">首页</a></div>
        <div class="bottomDivT"><a href="javascript:;" class="bottomText">轿车商家</a></div>
        <div class="bottomDivT"><a href="javascript:;" class="bottomText">货车商家</a></div>
        <div class="bottomDivT"><a href="javascript:;" class="bottomText">新品促销</a></div>
        <div class="bottomDivT"><a href="javascript:;" class="bottomText">库存清仓</a></div>
        <div class="bottomDivT"><a href="javascript:;" class="bottomText">VIN查询</a></div>
        <div style="float: left;width: 14%;text-align: left"><a href="javascript:;" class="bottomText">配件求购</a></div>
      </div>
      <div class="bottomList">
        <div class="bottomDivT">&nbsp;</div>
        <div class="bottomDivT"><a href="javascript:;" class="bottomText">活动促销</a></div>
        <div class="bottomDivT"><a href="javascript:;" class="bottomText">新闻中心</a></div>
        <div class="bottomDivT"><a href="javascript:;" class="bottomText">公司简介</a></div>
        <div class="bottomDivT"><a href="javascript:;" class="bottomText">新手上路</a></div>
        <div class="bottomDivT"><a href="javascript:;" class="bottomText">服务协议</a></div>
      </div>
      <div class="bottomYou">
          友情链接：
          <a href="javascript:;" class="bottomA">汽车配件</a>
          <a href="javascript:;" class="bottomA">专用车</a>
          <a href="javascript:;" class="bottomA">二手车</a>
          <a href="javascript:;" class="bottomA">Auto333</a>
          <a href="javascript:;" class="bottomA">汽配110网</a>
          <a href="javascript:;" class="bottomA">中国汽车网</a>
          <a href="javascript:;" class="bottomA">车型大全</a>
          <a href="javascript:;" class="bottomA">第一车市</a>
          <a href="javascript:;" class="bottomA">12缸汽车网</a>
          <a href="javascript:;" class="bottomA">全纳二手车网</a>
          <a href="javascript:;" class="bottomA">进口车市</a>
          <a href="javascript:;" class="bottomA">外贸论坛</a>
          <a href="javascript:;" class="bottomA">仪器交易网</a>
          <a href="javascript:;" class="bottomA">违章查询</a>
          <a href="javascript:;" class="bottomA">360汽车网</a>
          <a href="javascript:;" class="bottomA">汽车人才网</a>
          <a href="javascript:;" class="bottomA">汽车改装</a>
          <a href="javascript:;" class="bottomA">中华电动汽车网</a>
          <a href="javascript:;" class="bottomA">中国汽车商贸网</a>
          <a href="javascript:;" class="bottomA">用车知识</a>
          <a href="javascript:;" class="bottomA">卡车新闻</a>
          <a href="javascript:;" class="bottomA">万得网</a>
      </div>
      <div class="bottomBor"></div>
      <div class="bottomLian">
        <span class="bottomSpan">
          <img src="/images/qpxm/pc/index/qq.png" alt=""> 客服QQ ：13412415
        </span>
        <span>
          <img src="/images/qpxm/pc/index/tel.png" alt=""> 客服电话 ：13812345678
        </span>
      </div>
      <div class="bottomDi">
        <div class="bottomBei">&#169;2015-2016 XXX 版权所有,并保留所有权。ICP备案证书号：蜀ICP备111111111号</div>
        <div><img src="/images/qpxm/pc/index/jingHui.png" height="15px" alt="">蜀公网安备 42030202000345号</div>
      </div>
  </div>
</div>


<!--swiper插件-->
<script src="/css/swiper2/idangerous.swiper.min.js"></script>
<script>
/*第一个轿车商家*/
var mySwiperOne = new Swiper('.swiper-containerOne',{
  autoplay : false,//可选选项，自动滑动
  loop : true,//可选选项，开启循环
  slidesPerView : 7 //个数
});
function leftOne(){
  mySwiperOne.swipePrev();
}
function rightOne(){
  mySwiperOne.swipeNext();
}
/*第二个轿车商家*/
var mySwiperTwo = new Swiper('.swiper-containerTwo',{
  autoplay : false,//可选选项，自动滑动
  loop : true,//可选选项，开启循环
  slidesPerView : 7 //个数
});
function leftTwo(){
  mySwiperTwo.swipePrev();
}
function rightTwo(){
  mySwiperTwo.swipeNext();
}

//banner轮播图
  var swipers = new Swiper('.lunBoDiv', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: 1000,
    autoplayDisableOnInteraction: false
  });
//  轿车商家
var swiper0 = new Swiper('.gunDongCaiD0', {
  nextButton: '.nextList0',
  prevButton: '.prevList0',
  slidesPerView: 7,
  spaceBetween: 0
});
var swiper1 = new Swiper('.gunDongCaiD1', {
  nextButton: '.nextList1',
  prevButton: '.prevList1',
  slidesPerView: 7,
  spaceBetween: 0
});

  /*回到顶部*/
  function goTop(){
    var speed=200;//滑动的速度
    $('body,html').animate({ scrollTop: 0 }, speed);
    return false;
  }
  /*点击QQ或电话*/
  function showF(obj){
    if($(obj).next().css("display")=='block'){
      $(obj).next().hide();
    }else{
      $(obj).next().show();
    }
  }
</script>
</body>
</html>