<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>图片</title>
    <link href="../../../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../../css/common.css" type="text/css" charset="utf-8"/>
</head>
<style>
	.sw-no-active,.sw-no-active:active{ 
		background: #FFFFFF;
	}
	.sw-icon-ca{
		position: absolute;right: 2px;top: 12px;width: 14px;height: 14px;background: url(../../../image/person/purchase/icon_zp_cha.png) no-repeat;background-size: contain;
	}
	.sw-scope-box{
		background: none;
	}
	.sw-scope-box:after,.sw-scope-box:before{
		height: 0;
	}
	.sw-img{
		width: 100px!important;height: 100px!important;float: right;
	}
</style>
<body style="background: #EFEFEF;">
	
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">相关照片</h1>
	</header>
	
	<div class="mui-content" style="background: #EFEFEF;"> 
		<input type="hidden" id="ckjl.id" name="ckjl.id" value="429">  
		<div style="width: 100%;background: #FFFFFF;margin-top: 10px;">		
			<p style="line-height: 24px;margin-bottom: 0;padding: 6px 15px 0;font-size: 16px;color: #333333;">图片</p>
			<ul class="mui-table-view mui-grid-view sw-scope-box" style="">

				<li class="mui-table-view-cell mui-media mui-col-sm-31" id="F_CKJLB">
					<label style="height: 0;">
	                <img class="mui-media-object sw-img" id="imgSrc" src="../../../image/person/purchase/tianjiazp.png">
					<input type="file" id="file" name="file" accept="image/gif,image/jpeg,image/jpg,image/png,capture=camera"  onchange="ajaxFileUpload()" style="width: 0;height: 0;border: none;display: block"/>
					</label>
				</li>


		        <li class="mui-table-view-cell  mui-media mui-col-sm-31 sw-no-active" id="showCon" style="display: none;">		
					<img src="../../../image/person/purchase/tianjiazp.png" class="mui-media-object sw-img" id="showImg"/>
					<p class="sw-icon-ca" onclick="delImg()"></p>
				</li>

			</ul>
		</div>	 
	</div>
	
</body>
<script type="text/javascript" src="../../../js/mui.min.js"></script>
<script type="text/javascript" src="../../../js/global.js"></script>
<script type="text/javascript" src="../../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../../js/ajaxFileUpload.js" ></script>
<script type="text/javascript">

 	 var procinstid = 0; 	
 	 var upId = '';
    //初始化页面执行操作  

	//获取值
	var self   = sw.getQueryVariable();
		upId = self.upId;
	//设置图片
	var imgSrc = JsonStorage.getItem(upId);
	if(imgSrc!=undefined&&imgSrc!='null'&&imgSrc!=''){
		$("#showCon").css('display','block');
		$("#F_CKJLB").css('display','none');
		$("#showImg").attr('src',imgUrl+imgSrc);
	}


	//图片上传
	 function ajaxFileUpload() {
		 $.ajaxFileUpload
		 (
				 {
					 url:imgUploadImg, //用于文件上传的服务器端请求地址
					 secureuri: false, //一般设置为false
					 fileElementId: 'file', //文件上传空间的id属性  <input type="file" id="file" name="file" />
					 dataType: 'json', //返回值类型 一般设置为json
					 success: function (data, status)  //服务器成功响应处理函数
					 {
						 //console.log(data);
						 //上传成功返回值，必须为json格式
						 if(data.status==200){
							 $("#showCon").css('display','block');
							 $("#F_CKJLB").css('display','none');
							 $("#showImg").attr('src',imgUrl+data.url);
							 //console.log(upId);
							// JsonStorage.removeItem(upId);
							 //将数据保存到本地
							JsonStorage.setItem(upId,data.url);
						 }

					 },
					 error: function (data, status, e)//服务器响应失败处理函数
					 {
							
					 }
				 }
		 );
		 return false;
	 }

	 /**
	  * 取消上传的图片
	  */
	 function delImg(){
		 $("#showCon").css('display','none');
		 $("#F_CKJLB").css('display','block');
		 $("#showImg").attr('src','../../../image/person/purchase/tianjiazp.png');
	 }

</script>
</html>